nav {
    background-color: #00796b;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p, 

 
  span {
    margin: 0;
    padding: 0;
  }

  strong{
    color: coral;
  }
  
  .app-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
   
  .app-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    z-index: -1;
    background-color: coral;
  }
  
  .app-banner__text {
    width: 86%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 58px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 15px;
  }
  
  .app-chat {
    width: 80%;
    height: 73%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 16px;
    border-radius: 8px;
  }
  
  .app-chat__input {
    width: 100%;
    height: 10%;
  }
  
  .app-chat__messages {
    width: 100%;
    height: 90%;
    overflow: scroll;
  }
  
  .app-chat__messages-user,
  .app-chat__messages-me {
    width: 100%;
    margin-block: 8px;
    display: flex;
  }
  
  .app-chat__messages-user {
    justify-content: flex-start;
    padding-left: 3px;
  }
  
  .app-chat__messages-me {
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .app-chat__messages-user-box,
  .app-chat__messages-me-box {
    padding: 16px 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }
  
  .app-chat__messages-user-box {
    background-color: #40c4ff;
  }
  
  .app-chat__messages-me-box {
    background-color: #69f0ae;
  }
  
  .app-chat__messages-user-box--name,
  .app-chat__messages-me-box--name {
    font-size: 12px;
    font-weight: bolder;
  }
  
  .app-chat__messages-user-box--text,
  .app-chat__messages-me-box--text {
    font-size: 16px;
  }