  <div class="app-banner">
    <div class="container app-banner__text">
        <h1 class="center-align app-banner__text--title">Bienvenidos a Shut App</h1>
        <h3 class="center-align app-banner__text--description">Para empezar, seleccione la opción <strong>chat</strong> en el menú</h3>
    </div>
  </div>