<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shut App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Shut App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/chat">Chat</a></li>
      </ul>
    </div>
  </nav>
    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</body>
</html>

